body {
  background-color: white; }
  body header {
    background: url(/img/m-h-day.jpg) no-repeat center;
    background-size: cover;
    height: 532px;
    font-family: "Hind", sans-serif;
    color: #2c2f3c;
    background-color: white;
    border: 1px solid white;
    border-radius: 0 0 500px/230px 0; }
    body header .header-wrap {
      display: block;
      padding-left: 135px;
      max-width: 650px; }
      body header .header-wrap .landing-logo {
        padding-top: 0px; }
        body header .header-wrap .landing-logo img {
          padding-top: 7px;
          height: 32px; }
        body header .header-wrap .landing-logo p {
          margin-top: 2px;
          padding-left: 5px;
          font-size: 18px;
          text-align: center; }
        body header .header-wrap .landing-logo img + p {
          display: inline-block;
          vertical-align: top;
          font-weight: bolder; }
          body header .header-wrap .landing-logo img + p span {
            font-weight: 200;
            font-size: 7px;
            text-align: center;
            padding-bottom: 4px;
            white-space: pre;
            vertical-align: top; }
            body header .header-wrap .landing-logo img + p span:before {
              content: "\A"; }
      body header .header-wrap .header_heading {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 50px;
        font-weight: bold;
        width: 375px;
        text-align: left;
        position: relative;
        margin-top: 10px;
        margin-bottom: 30px;
        color: #2c2f3c; }
        body header .header-wrap .header_heading::before {
          content: "awesome";
          background-color: #14a0c7;
          background-size: 1px;
          position: absolute;
          top: 62px;
          left: 0; }
      body header .header-wrap .header_text {
        padding-left: 0px;
        width: 500px;
        font-size: 12px;
        white-space: pre-line; }
      body header .header-wrap div {
        padding-top: 40px; }
        body header .header-wrap div .header_button {
          border-style: solid;
          border-color: #699900;
          border-radius: 3px;
          background-color: #699900;
          color: white;
          width: 105px;
          height: 35px; }
        body header .header-wrap div .login {
          padding-left: 110px;
          font-size: 15px;
          color: white;
          font-family: "Hind", sans-serif; }

main {
  text-align: center; }
  main .section_text {
    color: #2c2f3c;
    font-size: 30px;
    font-family: "Hind", sans-serif;
    font-weight: bolder;
    position: relative;
    margin-bottom: 25px; }
    main .section_text::before {
      content: "adventure";
      background-color: #14a0c7;
      background-size: 1px;
      position: absolute;
      top: 0;
      left: 705px; }
  main .section_card_wrap {
    max-width: 1420px; }
    main .section_card_wrap .section_card {
      width: 820px;
      height: 238px;
      display: inline-block;
      background-color: #21232e;
      border: 1px solid #21232e;
      border-radius: 5px;
      left: 0px;
      position: relative;
      margin-bottom: 14px; }
      main .section_card_wrap .section_card img {
        float: left;
        margin: 10px;
        background-color: #21232e;
        border: 1px solid #21232e;
        border-radius: 5px;
        width: 320px; }
      main .section_card_wrap .section_card .section_card_right_container {
        float: right;
        width: 450px;
        position: relative;
        left: 10px;
        top: 40px;
        font-family: "Hind", sans-serif; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          text-align: center;
          color: white;
          position: relative;
          font-size: 17px;
          right: 40px;
          bottom: 10px;
          font-family: "Hind", sans-serif;
          font-weight: bolder; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          text-align: justify;
          color: #c0c3ce;
          width: 350px;
          padding-left: 15px;
          line-height: 18px;
          font-weight: 100; }
        main .section_card_wrap .section_card .section_card_right_container .section_link {
          color: white;
          position: relative;
          right: 33px;
          font-family: "Hind", sans-serif; }
  main .section_banner {
    width: 62%;
    height: 105px;
    margin: 95px 0 0 270px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-image: linear-gradient(to right, #66950c, #2e5dd3);
    position: relative;
    top: 55px; }
    main .section_banner .section_banner_text_wrap {
      display: inline;
      text-align: left;
      position: relative;
      left: 110px;
      top: 13px;
      font-family: "Hind", sans-serif; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c2f3c;
        text-indent: 5px; }
        main .section_banner .section_banner_text_wrap .section_banner_heading::before {
          content: "start";
          background-color: #14a0c7;
          background-size: 1px;
          position: absolute;
          top: 0;
          right: 288px; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        margin: 0;
        font-weight: 200;
        color: #c0c3ce;
        margin: 5px;
        font-family: "Hind", sans-serif; }
    main .section_banner .section_banner_button {
      border-style: solid;
      border-color: #699900;
      border-radius: 3px;
      background-color: #699900;
      color: white;
      width: 105px;
      height: 35px;
      float: right;
      position: relative;
      right: 117px;
      bottom: 32px; }

footer {
  height: 250px;
  background-color: #21232e;
  color: #c0c3ce;
  overflow: hidden;
  margin: 0;
  font-family: "Hind", sans-serif; }
  footer .footer-wrap {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 125px; }
    footer .footer-wrap .footer_logo {
      margin-left: 125px;
      float: left; }
      footer .footer-wrap .footer_logo img {
        padding-top: 7px;
        height: 32px; }
      footer .footer-wrap .footer_logo p {
        margin-top: 6px;
        padding-left: 5px;
        font-size: 18px;
        text-align: center; }
      footer .footer-wrap .footer_logo img + p {
        display: inline-block;
        vertical-align: top;
        font-weight: bolder; }
        footer .footer-wrap .footer_logo img + p span {
          font-weight: 200;
          font-size: 7px;
          text-align: center;
          padding-bottom: 4px;
          white-space: pre;
          vertical-align: top; }
          footer .footer-wrap .footer_logo img + p span:before {
            content: "\A"; }
    footer .footer-wrap .footer_text {
      width: 300px;
      position: relative;
      left: 245px;
      white-space: pre-line;
      display: inline-block;
      top: -33px; }
    footer .footer-wrap .footer-cr {
      width: 300px;
      position: relative;
      left: 575px;
      white-space: pre-line;
      display: inline-block;
      top: -53px; }
