body {
    header {
        background: $headbgimg no-repeat center;
        background-size: cover;
        height: 532px;
        font-family: $hind;
        color: $fntclr;
        border: 1px solid $btnfntclr;
        border-radius: 0 0 500px/230px 0;
        .header-wrap {
            display: block;
            padding-left: 135px;
            max-width: 650px;
            .landing-logo {
                padding-top: 0px;
                img {
                    padding-top: 7px;
                    height: 32px;
                }
                p {
                    margin-top: 2px;
                    padding-left: 5px;
                    font-size: 18px;
                    text-align: center;
                }
                img+p {
                    display: inline-block;
                    vertical-align: top;
                    font-weight: map-get($font-sila, "jirniy");
                    span {
                        font-weight: map-get($font-sila, "drish");
                        font-size: 7px;
                        text-align: center;
                        padding-bottom: 4px;
                        white-space: pre;
                        vertical-align: top;
                        &:before {
                            content: "\A";
                        }
                    }
                }
            }
            .header_heading {
                font-family: $sans;
                font-size: 50px;
                font-weight: map-get($font-sila, "kachok");
                width: 375px;
                text-align: left;
                position: relative;
                margin-top: 10px;
                margin-bottom: 30px;
                &::before {
                    content: "awesome";
                    background-color: $wordbg;
                    background-size: 1px;
                    position: absolute;
                    top: 62px;
                    left: 0;
                }
            }
            .header_text {
                padding-left: 0px;
                width: 470px;
                font-size: 12px;
            }
            div {
                padding-top: 40px;
                .header_button {
                    @include button;
                }
                .login {
                    padding-left: 110px;
                    font-size: 15px;
                    color: $btnfntclr;
                }
            }
        }
    }
}

main {
    text-align: center;
    .section_text {
        font-size: 30px;
        font-family: $sans;
        font-weight: map-get($font-sila, "jirniy");
        position: relative;
        margin-bottom: 25px;
        &::before {
            content: "adventure";
            background-color: $wordbg;
            background-size: 1px;
            position: absolute;
            top: 0;
            left: 717px;
        }
    }
    .section_card_wrap {
        max-width: 1420px;
        .section_card {
            width: 820px;
            height: 238px;
            display: inline-block;
            @include bordermain;
            left: 0px;
            position: relative;
            margin-bottom: 14px;
            img {
                float: left;
                margin: 10px;
                @include bordermain;
                width: 320px;
            }
            .section_card_right_container {
                float: right;
                width: 450px;
                position: relative;
                left: 10px;
                top: 40px;
                font-family: $hind;
                .section_card_heading {
                    text-align: center;
                    color: $btnfntclr;
                    position: relative;
                    font-size: 17px;
                    right: 40px;
                    bottom: 10px;
                    font-weight: map-get($font-sila, "jirniy");
                }
                .section_card_text {
                    text-align: justify;
                    color: $sectiontextclr;
                    width: 350px;
                    padding-left: 15px;
                    line-height: 18px;
                    font-weight: map-get($font-sila, "hudoi");
                }
                .section_link {
                    color: $btnfntclr;
                    position: relative;
                    right: 33px;
                }
            }
        }
    }
    .section_banner {
        width: 62%;
        height: 105px;
        margin: 95px 0 0 270px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-image: linear-gradient(to right, #66950c, #2e5dd3);
        z-index: 1;
        .section_banner_text_wrap {
            display: inline;
            text-align: left;
            position: relative;
            left: 110px;
            top: 13px;
            font-family: $hind;
            .section_banner_heading {
                margin: 0;
                font-size: 22px;
                font-weight: map-get($font-sila, "kachok");
                color: $fntclr;
                text-indent: 5px;
                &::before {
                    content: "start";
                    background-color: $wordbg;
                    background-size: 1px;
                    position: absolute;
                    top: 0;
                    right: 297px;
                }
            }
            .section_banner_text {
                margin: 0;
                font-weight: map-get($font-sila, "drish");
                color: $sectiontextclr;
                margin: 5px;
            }
        }
        .section_banner_button {
            @include button;
            float: right;
            position: relative;
            right: 117px;
            bottom: 32px;
        }
    }
}