$wordbg: #ff4e33;
$headbgimg: url(../img/m-h-day.jpg);
$fntclr: #ffffff;
$btnclr: #e3ac00;
$btnfntclr: white;
$bckgrnmain: #21232e;
$bckclrmain: #3b3f50;
$grad: linear-gradient(to right, #e0a703, #942f51);
@mixin bordermain {
    background-color: $bckclrmain;
    border: 1px solid $bckclrmain;
    border-radius: 5px;
}

@mixin button {
    border-style: solid;
    border-color: $btnclr;
    border-radius: 3px;
    background-color: $btnclr;
    color: $btnfntclr;
    width: 105px;
    height: 35px;
}

@mixin links {
    font-family: $fontlinks;
}

$font-sila: ("hudoi": 100, "drish": 200, "normal": 400, "jirniy": bolder, "kachok":bold);
$sectiontextclr:#c8d1cd;
$sans:'Source Sans Pro',
sans-serif;
$hind: 'Hind',
sans-serif;
$fresca: 'Fresca',
sans-serif;
$fontheader:$fresca;
$fontheadertext:$hind;
$fontmaintext: $fresca;
$fontlinks: $hind;